@charset "utf-8";

.drag-over { background-color: #ff0; }
.thumb { width:100%; padding: 10px 15px; border: 1px solid #ddd; }
.thumb > img { width:100%; }
.thumb > progress { width:100%; }
.thumb > .close {
	top: 13px;
	background-color:
#fff;

position: absolute;

right: 20px;	
	 cursor:pointer; }
body{
	/* background-color: slategray; */
}
#drop{
/* position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%); */
background-color:#F7F7F7;
border: none;
box-shadow: 0 0px 5px rgba(0,0,0,.4);
	width: 100%;
	max-width: 800px;
	margin: 15px auto;
min-width: 285px;
height: 500px;

height: auto;
}
#drop > h1{
border-bottom: 1px solid #ddd;
padding-bottom: 10px;
margin-top: 0;
margin-bottom: 20px;
font-size: 32px;
}

#drop > p{
	text-align: center;

border: 3px dashed #aaa;
color: #777;
font-size: 20px;

border-radius: 4px;

padding: 20px 0px;}

progress{
height: 5px;
}
.thumb{
position: relative;
margin-bottom: 5px;
}
.bottom{

text-align: center;
border-top: 1px solid
#ddd;
padding: 15px;
padding-bottom: 5px;
}
.file_name{
width: 95%;

text-overflow: ellipsis;

-o-text-overflow: ellipsis;

overflow: hidden;

white-space: nowrap;

word-wrap: normal !important;

display: block;	
margin: 0;
}
#thumbnails{
height: 111px;
overflow: hidden;
}
.thumb >input{
    border-radius: 4px;
    border: 1px solid #999;
}
/*
@media (max-height: 630px){
	#drop{ height: 100%; 
border-radius: 0;
	}
	#thumbnails{
		height: calc(100% - 185.7667px);
	}
}*/
@media (max-width: 340px){
	#drop > p {
		font-size: 17px;
	}
	#drop > p i{
	 display: block;
		font-size: 30px
	}
	#drop{
		height: auto;
		padding: 15px 10px !important;
	}
}